/* http://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Values_and_Units/CSS_data_types */

[flex] {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/flex */
  --flex: attr(flex type(<number> | <length-percentage> | auto | content));
  flex: var(--flex);
}

[ax] {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/justify-content */
  --ax: attr(
    ax
      type(
        space-around | space-between | space-evenly | stretch | flex-start |
          flex-end | center
      )
  );
  justify-content: var(--ax);
}

[ay] {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/justify-content */
  --ay: attr(
    ax
      type(center | start | end | flex-start | flex-end | self-start | self-end)
  );
  align-items: var(--ay);
}

[gap] {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/gap */
  --gap: attr(gap type(<number>));
  gap: calc(var(--spacing) * var(--gap));
}

[px] {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/padding-inline */
  --px: attr(px type(<number>));
  padding-inline: calc(var(--spacing) * var(--px));
}

[py] {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/padding-inline */
  --py: attr(py type(<number>));
  padding-inline: calc(var(--spacing) * var(--px));
}

[bg] {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/background-color */
  --bg: attr(bg type(<color>));
  background-color: var(--bg);
}

[color] {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/color */
  --color: attr(color type(<color>));
  color: var(--color);
}

[ta] {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/text-align */
  --ta: attr(ta type(left | right | center | justify | initial | inherit));
  text-align: var(--ta);
}

[wb] {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/word-break */
  --wb: attr(wb type(break-all | break-word | normal | keep-all));
  word-break: var(--wb);
}

[ow] {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-wrap */
  --ow: attr(ow type(anywhere | break-word | normal));
  overflow-wrap: var(--ow);
}

[fw] {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight */
  --fw: attr(fw type(normal | bold | bolder | lighter | initial | unset));
  font-weight: var(--fw);
}

[hyphens] {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/hyphens */
  --hyphens: attr(hyphens type(auto | manual | none));
  hyphens: var(--hyphens);
}
