:root {
  --text_0_size: 0.875rem;
  --text_0_leading: 2%;
  --text_0_line_height: 150%;
  --text_0_weight: 400;

  --text_1_size: 1rem;
  --text_1_leading: 2%;
  --text_1_line_height: 150%;
  --text_1_weight: 400;

  --text_2_size: 1.25rem;
  --text_2_leading: 2%;
  --text_2_line_height: 140%;
  --text_2_weight: 400;

  --text_3_size: 1.5rem;
  --text_3_leading: 1%;
  --text_3_line_height: 140%;
  --text_3_weight: 400;

  --text_4_size: 1.875rem;
  --text_4_leading: 1%;
  --text_4_line_height: 140%;
  --text_4_weight: 500;

  --text_5_size: 2.25rem;
  --text_5_leading: 0.25%;
  --text_5_line_height: 130%;
  --text_5_weight: 500;

  --text_6_size: 3rem;
  --text_6_leading: 0%;
  --text_6_line_height: 120%;
  --text_6_weight: 600;

  --text_7_size: 4rem;
  --text_7_leading: -1%;
  --text_7_line_height: 110%;
  --text_7_weight: 600;

  --text_8_size: 5.5rem;
  --text_8_leading: -2%;
  --text_8_line_height: 110%;
  --text_8_weight: 700;
}
